*{
    margin:0;
    padding:0;

}
.container{
    width:300px;
    height:auto;
    margin:10px 10px;
    float: left;
  
}
.N2{
    float:right;
}
.container ul li{
    list-style-type:none;
}
h1{
 color:rgb(4, 167, 112);
}
#button{
   background-color: black;
   color: blanchedalmond;
   padding: 5px 55px;
   border-radius: 15px;
}
footer{
	background-image: linear-gradient(to bottom right, red, yellow);
	height:250px;
	width:100%;
	color:white;
	font-size:20px;
	float:left;
}
footer ul li{
list-style-type:none;
padding:3px;	
}
.f2{
margin:0px 0px 0px 20px;	
}
ul{
float:left;	
padding:20px;

}
.f3{
	margin:25px 0px 0px 10px;
}